---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="DicoQuiz - learn language!">
  <img class="mockups" src="assets/mockups.png" />

  <div class="paragraphs-container big">
    <p>Learn new language</p>
    <p>Create personal dictionary</p>
    <p>Test your knowledge with quizzes</p>

    <div class="button-container">
      <Button
        href="https://play.google.com/store/apps/details?id=com.stephenprn.dicoquiz"
      >
        <Fragment slot="icon">
          <img class="button-icon" src="assets/icons/playstore.svg" />
        </Fragment>
        <Fragment slot="title">Download Android</Fragment>
      </Button>
    </div>
    <div class="button-container">
      <Button href="https://app.dicoquiz.com/">
        <Fragment slot="icon">
          <img class="button-icon" src="assets/icons/web.svg" />
        </Fragment>
        <Fragment slot="title">Web version</Fragment>
      </Button>
    </div>
  </div>
</Layout>

<style>
  .mockups {
    padding: 64px;
    width: calc(50% - 128px);
  }

  .button-container:not(:last-child) {
	margin-bottom: 32px;
  }

  @media screen and (max-width: 900px) {
    .mockups {
      padding: 0;
      width: 100%;
    }
  }
</style>
